.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  margin: 15px;
}

body {
  padding: 5%;
  min-width: 469px
}

img {
  width: 100%;
}

.App {
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  button {
    width: auto;
    font-size: 1.1rem;
  }
}